</body>

<footer>
  <!-- bottom credits -->
  <div class="credits">
    <div class="container-fluid">
      <a href="https://github.com/tylerdburrell" class="credits-icon"><i class="fab fa-github-square fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/tyler-burrell-0b3b67115/" class="credits-icon"><i class="fab fa-linkedin fa-2x"></i></a>
      <p>Copyright Tyler Burrell 2020</p>
    </div>
  </div>
</footer>

</html>
