<%- include("partials/header"); -%>

<!-- Heading/explanation of website -->
<section id="header">
  <div class="container-fluid heading-container">
    <h1 class="big-heading">Gloomhaven Challenge Mode!</h1>
    <h3 class="small-heading">Roll to generate your challenge</h3>
    <h5 class="real-small-heading">Each character in the party rolls for their effects.</h5>
  </div>
</section>

<!-- Add Character button -->
<section id="roll-button">
  <div class="container-fluid button-container">
      <div class="">
        <button class="btn btn-dark btn-lrg roll-button" onclick="window.location.reload();" type="button" name="button"><i class="fas fa-dice-six"></i> Roll <i class="fas fa-dice-six"></i></button>
      </div>
  </div>
</section>

<!-- Challenge results -->
<section id=challenge-results>
  <div class="container-fluid challenge-container">
    <div class="row">
      <div class="col-6">
        <h3><u>Negative Effects</u></h3>
        <p><%= negative%></p>
      </div>
      <div class="col-6">
        <h3><u>Positve Effects</u></h3>
        <p><%= positive%></p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
